<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="taotao-manage" version="2.5">
  <display-name>projectTemplate</display-name>

  <!-- start 配置spring 容器初始化监听器，这样可以保证一个项目中只有一个spring容器对象applicationcontext -->
  <!-- 全局变量 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext*.xml</param-value>
  </context-param>
  <!--Spring的ApplicationContext 载入 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- end 配置spring 容器初始化监听器，这样可以保证一个项目中只有一个spring容器对象applicationcontext -->



  <!-- start 编码过滤器，以UTF8编码（解决post乱码） -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- end 编码过滤器，以UTF8编码（解决post乱码） -->




  <!-- start 配置SpringMVC -->
  <servlet>
    <servlet-name>projectTemplate-mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!-- 指定SpringMVC配置文件 -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectTemplate-mvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- end 配置SpringMVC -->



  <!-- start 配置首页 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- end 配置首页 -->



  <!-- start 配置web全局的错误友好页面 -->
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <!-- end 配置web全局的错误友好页面 -->

</web-app>
